.section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  
  &__title {
    margin-bottom: 30px;
    font-size: 1.5rem;

    @media (max-width: 425px) {
      font-size: 1.3rem;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;
  }
}