@import "reset.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 62px;
  padding: 0 12.5px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .header {
    height: 66px;
  }
}
@media (min-width: 1440px) {
  .header {
    height: 102px;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header__links {
  display: flex;
  column-gap: 24px;
}
.header-logo__img {
  width: 42px;
}
.header-logo__text {
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 1.18;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
}

.header-nav {
  display: none;
}
@media (min-width: 768px) {
  .header-nav {
    display: block;
  }
}
.header-nav__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}
.header-nav__item {
  text-align: center;
}
.header-nav__link {
  position: relative;
  z-index: 1;
  display: block;
  padding: 6px 5px;
  font-size: 1.1rem;
  font-weight: 800;
  letter-spacing: 0.82px;
}
.header-nav__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 3px;
  background-color: #4BA87D;
  transition: all 0.2s ease;
}
.header-nav__link:hover {
  color: #fff;
}
.header-nav__link:hover::before {
  transition: all 0.2s ease;
  height: 25px;
}

.button {
  display: inline-block;
  padding: 12.5px 0;
  background-color: #4BA87D;
  box-sizing: border-box;
  border: 3px solid #4BA87D;
  font-size: 1.1rem;
  font-weight: 800;
  letter-spacing: 0.82px;
  text-align: center;
  color: #fff;
}
.button:hover {
  background-color: #fff;
  color: #4BA87D;
}
.button_sing-up {
  padding: 3px 10.5px;
}
.button_border {
  background-color: #fff;
  color: #4BA87D;
}
.button_white {
  padding-left: 13px;
  padding-right: 13px;
  background-color: #fff;
  border-color: #fff;
  color: #4BA87D;
}
.button_white:hover {
  border-color: #4BA87D;
}

.hero {
  position: relative;
  padding: 8px 0 19px;
}
@media (min-width: 768px) {
  .hero {
    padding: 67px 0 97px;
  }
}
@media (min-width: 1440px) {
  .hero {
    padding: 103px 0 175px;
  }
}
.hero__wrapper {
  position: relative;
}
@media (min-width: 768px) {
  .hero__wrapper {
    padding: 14px 0 28px;
  }
}
.hero__info {
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .hero__info {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .hero__info {
    max-width: 490px;
  }
}
.hero__title {
  max-width: 285px;
  margin-bottom: 98px;
  font-family: "Playfair Display", serif;
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 1.28;
}
@media (min-width: 768px) {
  .hero__title {
    max-width: 315px;
    margin-bottom: 17px;
    font-size: 3.8rem;
  }
}
@media (min-width: 1024px) {
  .hero__title {
    max-width: 490px;
    margin-bottom: 23px;
    font-size: 5.9rem;
  }
}
.hero__image {
  position: absolute;
  top: 51px;
  right: 0;
  z-index: 0;
  width: 100%;
  height: 169px;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.160784);
}
@media (min-width: 768px) {
  .hero__image {
    top: 0;
    width: 62%;
    height: 250px;
  }
}
@media (min-width: 1024px) {
  .hero__image {
    height: 383px;
  }
}
.hero__subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.1px;
}
@media (min-width: 768px) {
  .hero__subtitle {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .hero__subtitle {
    font-size: 1.9rem;
  }
}
.hero__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 14px;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .hero__buttons {
    margin-top: 25px;
  }
}
@media (min-width: 1024px) {
  .hero__buttons {
    gap: 45px;
    margin-top: 35px;
  }
}
.hero__button {
  font-size: 1.3rem;
  font-weight: 900;
  letter-spacing: 1.05px;
}
@media (min-width: 1440px) {
  .hero__button {
    font-size: 2.1rem;
    padding: 17px 0;
  }
}

.video {
  padding: 23px 0;
}
@media (min-width: 768px) {
  .video {
    padding-top: 85px;
  }
}
@media (min-width: 1024px) {
  .video {
    padding-top: 130px;
  }
}
.video__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  max-width: 944px;
  width: 100%;
  max-height: 531px;
  height: 53.5vw;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .video__wrapper {
    height: 45.2vw;
  }
}
.video__title {
  font-family: "Playfair Display", serif;
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 1.32;
  color: #fff;
  z-index: 1;
}
@media (min-width: 768px) {
  .video__title {
    font-size: 3.8rem;
  }
}
@media (min-width: 1024px) {
  .video__title {
    font-size: 6rem;
  }
}
.video__button {
  font-weight: 900;
  z-index: 1;
}
@media (min-width: 768px) {
  .video__button {
    padding: 14px 24px;
    font-size: 1.3rem;
    letter-spacing: 0.65px;
  }
}
@media (min-width: 1024px) {
  .video__button {
    padding: 20px 32px;
    font-size: 2.1rem;
    letter-spacing: 1.05px;
  }
}
.video__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .video__image {
    padding: 0 48px;
  }
}
.video__img {
  object-position: center;
}

.blog {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .blog {
    margin-top: 41px;
  }
}
@media (min-width: 1024px) {
  .blog {
    margin-top: 75px;
  }
}
.blog__wrapper {
  display: flex;
  flex-direction: column-reverse;
  column-gap: 15px;
  padding-bottom: 18px;
  font-size: 1.2rem;
  line-height: 1.3;
}
@media (min-width: 425px) {
  .blog__wrapper {
    align-items: center;
  }
}
@media (min-width: 768px) {
  .blog__wrapper {
    flex-direction: row-reverse;
    align-items: stretch;
    height: 348px;
    padding-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .blog__wrapper {
    height: 533px;
    font-size: 1.6rem;
  }
}
.blog__info {
  max-width: 232px;
  margin: 18px auto 0;
}
@media (min-width: 768px) {
  .blog__info {
    margin: auto;
  }
}
@media (min-width: 1024px) {
  .blog__info {
    max-width: 365px;
  }
}
.blog__text {
  margin-top: 16px;
}
@media (min-width: 1024px) {
  .blog__text {
    font-size: 1.9rem;
  }
}
.blog-card {
  position: relative;
  width: 209px;
  height: 294px;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}
@media (min-width: 768px) {
  .blog-card {
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .blog-card {
    width: 320px;
    height: 449px;
  }
}
.blog-card_position {
  margin-top: 15px;
  margin-left: auto;
}
@media (min-width: 425px) {
  .blog-card_position {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .blog-card_position {
    margin-top: auto;
  }
}
.blog-card__image {
  width: 100%;
  height: 166px;
}
@media (min-width: 1024px) {
  .blog-card__image {
    height: 253px;
  }
}
.blog-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-card__description {
  max-height: 90px;
  padding: 16px 20px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 1024px) {
  .blog-card__description {
    max-height: 140px;
  }
}
.blog-card__link {
  position: absolute;
  bottom: 15px;
  left: 0;
  margin-left: 20px;
  font-weight: 800;
  color: #4BA87D;
  transition: all 0.3s ease 0s;
}
.blog-card__link:hover {
  opacity: 0.7;
}

.reviews {
  margin-top: 47px;
}
@media (min-width: 768px) {
  .reviews {
    margin-top: 87px;
  }
}
@media (min-width: 1024px) {
  .reviews {
    margin-top: 130px;
  }
}
.reviews__wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0 20px;
}
.reviews__title {
  max-width: 590px;
  text-align: center;
}
.reviews__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  column-gap: 17px;
  margin-top: 20px;
}
.reviews__input {
  position: relative;
  max-width: 275px;
  width: 100%;
  height: 42px;
  padding-left: 14px;
  border: 1px solid #9f9f9f;
  border-radius: 5px;
}
.reviews__input::placeholder {
  color: #000;
}
.reviews__input:focus-visible {
  border-color: #333;
}
.reviews__row {
  max-width: 275px;
  width: 100%;
}
.reviews__accept {
  margin-top: 7px;
  opacity: 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.6px;
  color: #4BA87D;
}
@media (min-width: 768px) {
  .reviews__accept {
    padding-left: 16px;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .reviews__accept {
    font-size: 1.3rem;
  }
}
.reviews__accept_true {
  opacity: 1;
}
.reviews__button {
  position: relative;
  cursor: pointer;
  margin-top: 7px;
  padding: 10.5px 18px;
}
@media (min-width: 768px) {
  .reviews__button {
    margin-top: 0;
  }
}

.reviews-comments {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 59px;
}
@media (min-width: 768px) {
  .reviews-comments {
    flex-direction: row;
  }
}
.reviews-comments__item {
  position: relative;
  color: #fff;
}
.reviews-comments__link:hover .reviews-comments__image::after {
  opacity: 0;
}
.reviews-comments__image {
  position: relative;
}
.reviews-comments__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
  background: linear-gradient(0deg, #000000 -32.5%, rgba(84, 84, 84, 0.0001) 67.78%);
}
.reviews-comments__name {
  position: absolute;
  left: 17px;
  bottom: 30px;
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: 0.5px;
}
.reviews-comments__subname {
  position: absolute;
  left: 17px;
  bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.partners {
  margin-top: 54px;
}
@media (min-width: 768px) {
  .partners {
    margin-top: 50px;
  }
}
@media (min-width: 1024px) {
  .partners {
    margin-top: 75px;
  }
}
.partners__title {
  text-align: center;
}
.partners__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  margin-top: 40px;
}
.partners__image {
  max-width: 110px;
}
@media (min-width: 1024px) {
  .partners__image {
    max-width: 160px;
  }
}
.partners__image + img {
  object-fit: contain;
}

.get-started {
  margin-top: 58px;
  background-color: #4BA87D;
}
@media (min-width: 768px) {
  .get-started {
    margin-top: 95px;
  }
}
@media (min-width: 1024px) {
  .get-started {
    margin-top: 146px;
  }
}
.get-started__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  padding: 43px 0 59px;
}
@media (min-width: 768px) {
  .get-started__wrapper {
    padding-top: 45px;
  }
}
@media (min-width: 1024px) {
  .get-started__wrapper {
    padding: 82px 0 95px;
  }
}
.get-started__title {
  font-family: "Playfair Display", serif;
  font-size: 4.2rem;
  line-height: 1.14;
  text-align: center;
  color: #fff;
}
@media (min-width: 1024px) {
  .get-started__title {
    font-size: 6rem;
    line-height: 1.33;
  }
}
.get-started__button {
  padding: 11.5px 25px;
  font-size: 2.1rem;
  font-weight: 900;
  letter-spacing: 1.05px;
}
@media (min-width: 1024px) {
  .get-started__button {
    padding: 23px 60px;
  }
}
.get-started__button:hover {
  background-color: #4BA87D;
  border-color: #fff;
  color: #fff;
}

.footer__wrapper {
  padding: 50px 0;
}
@media (min-width: 768px) {
  .footer__wrapper {
    padding-bottom: 30px;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .footer__info {
    flex-direction: row;
    align-items: flex-start;
  }
}
.footer__logo {
  flex: 1 1 33.3%;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.footer-logo__img {
  width: 32px;
}
@media (min-width: 1024px) {
  .footer-logo__img {
    width: 50px;
  }
}
.footer-logo__text {
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.18;
}
@media (min-width: 1024px) {
  .footer-logo__text {
    font-size: 2.6rem;
  }
}
.footer__nav {
  flex: 1 1 66.6%;
  display: flex;
  flex-wrap: wrap;
  max-width: 211px;
}
@media (min-width: 768px) {
  .footer__nav {
    max-width: none;
  }
}
.footer__nav a:hover {
  opacity: 0.6;
  text-decoration: underline;
}
.footer__col {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
@media (min-width: 768px) {
  .footer__col {
    flex-direction: row;
    justify-content: space-around;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__link {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.17;
}
@media (min-width: 1024px) {
  .footer__link {
    font-size: 1.9rem;
  }
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  margin-top: 22px;
  padding-top: 22px;
  border-top: 1px solid #DBDBDB;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 2.11;
}
@media (min-width: 768px) {
  .footer__copyright {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .footer__copyright {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .copyright__nav {
    display: flex;
    gap: 30px;
  }
}
.copyright__nav a:hover {
  opacity: 0.6;
  text-decoration: underline;
}
html {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 1.1;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 4.4rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

.imgCover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  position: relative;
  padding-top: 62px;
  background: url("../img/bg/bg-mobile.webp") no-repeat center 350px;
  background-size: 100%;
}
@media (min-width: 768px) {
  .main {
    padding-top: 66px;
    background: url("../img/bg/bg-tablet.webp") no-repeat center 86px;
    background-size: 100%;
  }
}
@media (min-width: 1024px) {
  .main {
    background: url("../img/bg/bg-desktop.webp") no-repeat center 96px;
    background-size: 100%;
  }
}
@media (min-width: 1440px) {
  .main {
    padding-top: 102px;
  }
}

.container {
  height: 100%;
  margin: 0 auto;
  padding: 0 9px;
}
@media (min-width: 768px) {
  .container {
    max-width: 731px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1090px;
  }
}
.container_big {
  max-width: 1240px;
  padding: 0;
}