/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */

:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.21;
  color: #070707;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
}

a:hover {
  color: #070707;
}

h1 {
  font-size: 4.7rem;
  font-weight: 700;
  line-height: 1.24;
}

h2 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.24;
  text-align: center;
  color: #070707;
}

body.lock {
  overflow: hidden;
}

.first-screen__wrapper {
  position: relative;
  padding: 65px 0 83px;
}

.navigation__burger {
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 2;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.navigation__burger::before,
.navigation__burger::after,
.navigation__burger span {
  content: "";
  background-color: #000000;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.navigation__burger::before {
  top: 0;
}

.navigation__burger::after {
  bottom: 0;
}

.navigation__burger span {
  top: 8px;
}

.navigation__burger.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
  background-color: #828282;
}

.navigation__burger.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
  background-color: #828282;
}

.navigation__burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background-color: #828282;
}

.nav.active {
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.nav.active > .nav__list {
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 0;
  row-gap: 68px;
  border-bottom: none;
}

.nav.active > .nav__list > .nav__item > .nav__link {
  font-size: 3.4rem;
}

.nav {
  display: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0;
  border-bottom: 1px solid #828282;
}

.nav__item {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.24;
}

.nav__link {
  display: block;
  color: #828282;
}

.info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__label {
  padding-bottom: 23px;
}

.info__disc {
  font-size: 1.8rem;
  line-height: 1.21;
  color: #090909;
  padding-bottom: 36px;
}

.lang {
  display: none;
  
  gap: 5px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.24;
  color: #828282;
}

.lang.active {
  display: flex;
  position: fixed;
  bottom: 60px;
  right: -20px;
  font-size: 3.4rem;
}

.lang.active > p {
  font-size: 3.4rem;
}

.photo {
  /* position: relative; */
  width: 100%;
  height: 478px;
}

.photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
}

.about-me {
  background-color: #F6F6F6;
}

.about-me__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 0 107px;
}

.about-me__label {
  margin-bottom: 17px;
}

.about-me__description {
  max-width: 485px;
  text-align: center;
}

.about-me__description:not(:last-child) {
  margin-bottom: 43px;
}

.skills__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 91px 0 110px;
}

.skills__label {
  margin-bottom: 50px;
}

.skills__description {
  max-width: 485px;
  text-align: center;
}

.skills__description:not(:last-child) {
  margin-bottom: 70px;
}

.skills__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 81px;
  width: 100%;
}

.skills__card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.card-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 206px;
}

.card-skills__name {
  max-width: 90px;
  min-height: 35px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.24;
  text-align: center;
  color: #828282;
}

.card-skills__rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 167px;
}

.card-skills__star {
  width: 26.07px;
  height: 26px;
}

.card-skills__star_black {
  -webkit-filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(210deg) brightness(0%) contrast(80%);
          filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(210deg) brightness(0%) contrast(80%);
}

.portfolio {
  background-color: #F6F6F6;
}

.portfolio__wrapper {
  padding: 81px 0;
}

.portfolio__lable {
  margin-bottom: 64px;
}

.portfolio__example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 33px;
}

.portfolio__example:not(:last-child) {
  margin-bottom: 78px;
}

.portfolio__img {
  position: relative;
  width: 100%;
  height: auto;
}

.portfolio__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__img-link {
  display: block;
  cursor: pointer;
  width: 100%;
}

.portfolio__link {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
}

.portfolio__link:hover {
  color: #828282;
}

.contacts__wrapper {
  padding: 82px 0 90px;
  text-align: center;
}

.contacts__label:not(:last-child) {
  margin-bottom: 27px;
}

.contacts__description:not(:last-child) {
  margin-bottom: 40px;
}

.contacts__button {
  display: block;
  cursor: pointer;
  max-width: 284px;
  margin: 0 auto;
  padding: 12px 29px;
  border-radius: 50px;
  background-color: #000000;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.24;
  color: #FFFFFF;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.contacts__button:hover {
  background-color: #F6F6F6;
}

.contacts__button:not(:last-child) {
  margin-bottom: 48px;
}

.contacts__socials:not(:last-child) {
  margin-bottom: 48px;
}

.contacts__copyright {
  color: #828282;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 342px;
  margin: 0 auto;
}

html {
  font-family: 'Gilroy';
  font-size: 10px;
  font-weight: 500;
  color: #000000;
}

body {
  background-color: #FFFFFF;
}

.container {
  max-width: 943px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 375px) {
  .container {
    padding: 0 29px;
  }
}

@media (min-width: 425px) {
  .skills__cards {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 500px) {
  .skills__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (min-width: 768px) {
  .info {
    width: 85%;
  }

  .photo {
    height: 432px;
  }
}

@media (min-width: 900px) {
  .skills__label {
    margin-bottom: 69px;
  }

  .skills__description:not(:last-child) {
    margin-bottom: 83px;
  }

  .skills__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }

  .portfolio__wrapper {
    padding-bottom: 112px 0px;
  }

  .portfolio__lable {
    margin-bottom: 47px;
  }

  .portfolio__example {
    gap: 45px;
  }

  .portfolio__example:not(:last-child) {
    margin-bottom: 99px;
  }
}

@media (min-width: 1024px) {
  .first-screen__wrapper {
    padding-top: 0;
  }

  .navigation__burger {
    display: none;
  }

  .nav {
    display: block;
  }

  .info {
    width: 100%;
    padding: 39px 0;
  }

  .info__label {
    max-width: 124px;
    margin-bottom: -10px;
    padding-bottom: 0;
  }

  .info__disc {
    padding-bottom: 0;
  }

  .lang {
    display: flex;
    margin-right: -20px;
    -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  }

  .lang > p {
    font-size: 1.5rem;
  }

  .lang-nav {
    display: none;
  }

  .photo {
    height: 387px;
  }

  .portfolio__link {
    text-decoration: underline;
  }

  .contacts__wrapper {
    padding: 114px 0 123px;
  }

  .contacts__label:not(:last-child) {
    margin-bottom: 20px;
  }

  .contacts__description:not(:last-child) {
    margin-bottom: 29px;
  }

  .contacts__button {
    display: inline-block;
  }

  .contacts__button:not(:last-child) {
    margin-bottom: 86px;
  }

  .contacts__socials:not(:last-child) {
    margin-bottom: 45px;
  }

  .container {
    padding: 0;
  }
}